CAPFORGE_ACCOUNT_SEED={{ capforge_account_seed }}
CAPFORGE_ACCOUNT_PUBKEY={{ capforge_account_pubkey }}
OPENAI_API_KEY={{ openai_api_key|default('') }}
CAPFORGE_NATS_USER=capability-forge
CAPFORGE_NATS_PASSWORD={{ capforge_nats_password }}
